/*
NEXT: stack the our features images abot the heading 
 */







body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    text-align: center;
}
/* h2 {
    text-align: center;
} */
header {
    /* border: 10px solid green; */
    position: sticky;
    top: 0;
    height: 110px;
    z-index: 99;
    padding-left: 50px;
    background-color: inherit;
}
.container {
    /* border: 5px solid black; */
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    img {
        /* border: 5px solid blue; */
        width: 30%;
        /* float: left; */
    }
    nav {
        /* border: 5px solid red; */
        width: 70%;
        float: right;
        /* text-align: center; */
        a {
            color: black;
            text-decoration: none;
        }
        a:hover {
            color: #e6a563;
        }
        ul {
            display: flex;
            list-style: none;
        }
        li {
            margin: 20px;
        }
    }
}
.clear-both {
    clear: both;
}
.hero {
    /* border: 5px solid red; */
    background-color: #FFCF83;
    position: relative;
    height: 220px;
    width: 95%;
    text-align: left;
    /* overflow: hidden; */
    padding-left: 40px;
    display: inline-block;
    p {
        /* border: 5px solid rgb(255, 0, 162); */
        margin-top: 10px;
        width: 50%;
    }
    a:hover {
        border: 1px solid #222e50;
        color: #222e50;
        background: none;
    }
    img {
        /* border: 5px solid rgb(255, 0, 162); */
        float: right;
        position: absolute;
        top: 10px;
        right: 40px;
        /* height: 100%; */
        width: 200px;
        padding: 20 0 20 0;
    }
}
.button {
    /* border: 5px solid rgb(255, 0, 162); */
    padding: 10px;
    border-radius: 10px;
    background-color: #222e50;
    color: white;
    text-decoration: none;
}
.features {
    /* border: 5px solid chartreuse; */
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.feature-block {
    /* border: 5px solid grey; */
    width: 315px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    background-color: white;
}
.testimonials {
    /* border: 5px solid rgb(255, 0, 166); */
    background-color: #222e50;
    padding-top: 10px;
    h2 {
        color: #F2F2F2;
    }
}
.testimonial-block {
    /* border: 5px solid rgb(255, 0, 166); */
    background-color: #F2F2F2;
    width: 300px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}
.team {
    /* border: 5px solid rgb(255, 0, 166); */
    position: relative;
}
.team-block {
    /* border: 5px solid chartreuse; */
    width: 210px;
    display: inline-block;
    height: 150px;
    overflow: hidden;
    img {
        /* border: 5px solid blue; */
        position: relative;
    }
    p {
        /* border: 5px solid red; */
        position: absolute;
        width: 210px;
        height: 45px;
        overflow: hidden;
        bottom: 0;
    }
}
footer .container {
    /* border: 5px solid purple; */
    background-color: #D9D9D9;
    width: 100%;
    img {
        /* border: 5px solid pink; */
        width: 35px;
        display: inline-block;
    }
}
