body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    text-align: center;
}
header {
    position: sticky;
    top: 0;
    height: 110px;
    z-index: 99;
    padding-left: 50px;
    background-color: inherit;
}
.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    img {
        width: 30%;
    }
    nav {
        width: 70%;
        float: right;
        a {
            color: black;
            text-decoration: none;
        }
        a:hover {
            color: #e6a563;
        }
        ul {
            display: flex;
            list-style: none;
        }
        li {
            margin: 20px;
        }
    }
}
.clear-both {
    clear: both;
}
.hero {
    background-color: #FFCF83;
    position: relative;
    height: 220px;
    width: 95%;
    text-align: left;
    padding-left: 40px;
    display: inline-block;
    p {
        margin-top: 10px;
        width: 50%;
    }
    a:hover {
        border: 1px solid #222e50;
        color: #222e50;
        background: none;
    }
    img {
        float: right;
        position: absolute;
        top: 10px;
        right: 40px;
        width: 200px;
        padding: 20 0 20 0;
    }
}
.button {
    padding: 10px;
    border-radius: 10px;
    background-color: #222e50;
    color: white;
    text-decoration: none;
}
.features {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.feature-block {
    width: 315px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    background-color: white;
}
.testimonials {
    background-color: #222e50;
    padding-top: 10px;
    h2 {
        color: #F2F2F2;
    }
}
.testimonial-block {
    background-color: #F2F2F2;
    width: 300px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}
.team {
    position: relative;
}
.team-block {
    width: 210px;
    display: inline-block;
    height: 150px;
    overflow: hidden;
    img {
        position: relative;
    }
    p {
        position: absolute;
        width: 210px;
        height: 45px;
        overflow: hidden;
        bottom: 0;
    }
}
footer .container {
    background-color: #D9D9D9;
    width: 100%;
    img {
        width: 35px;
        display: inline-block;
    }
}
